.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4a6470;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  z-index: 1000;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  font-size: 20px;
  cursor: pointer;
  flex: 1;
  text-align: center;
  margin-right: 75px;
  font-family: "Caveat Brush", cursive;
}

.navbar .nav-links li a {
  color: white;
  text-decoration: none;

}

.navbar .nav-links li a:hover {
  color: #577f90;;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
