.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.navbar .logo {
  width: 50px;
  height: auto;
  color:#86c2ae;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0; 
  padding: 0; 
 
}

.navbar .nav-links li {
  font-size: 16px;
  cursor: pointer;
  flex: 1;
  text-align: center;
  margin-right: 40px;
}

.navbar .nav-links li a {
  color: #86c2ae;
}

.navbar .nav-links li a:hover {
 color: #f0917a;
 transition: 0.3s ease-in-out;
}
  