.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #86c2ae;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  z-index: 1000;
}

.navbar .logo {
  width: 50px;
  font-size: 14px;
  height: auto;
  color: #86c2ae;
  margin-right: 75px;
}

.navbar .logo:hover {
  color: #f0917a;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  font-size: 14px;
  cursor: pointer;
  flex: 1;
  text-align: center;
  margin-right: 75px;
}

.navbar .nav-links li a {
  color: white;
}

.navbar .nav-links li a:hover {
  color: #f0917a;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
