/* import from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Montserrat&display=swap");

/* typography styles */
/* ask joe about this specific font not having a bold variant */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Caveat Brush", cursive;
  font-weight: bold;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background-color: #577f90;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

/* colour scheme */
:root {
  --primary-color: #577f90;
  --secondary-color: #86c2ae;
  --accent-color: #f0917a;
  --outline-color: #577f90; /* Define the outline color here */
}

body {
  background-color: var(--primary-color);
  color: white;
}

/* center content */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* logo styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* hover effect for logo */
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary-color));
}

/* add different hover effect for .react class within .logo */
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--accent-color));
}

/* animation for spinning logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* apply logo spin animation for links */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* add padding to card */
.card {
  padding: 2em;
}

/* style for read-the-docs class */
/* was this a vite default? i cant even remember where this was from, but may as well keep it consistent - reminder to ask group about this */
.read-the-docs {
  color: #888;
}

/* trivia stuff */

/* Add padding to the question container */
.question-container {
  width: 70%;
  padding: 20px;
  margin: 0 auto;
}

/* Add margin-top to the next button container */
.next-button-container {
  margin-top: 20px; /* Adjust the margin as needed */
}

.generate-questions-container {
  padding: 20px; /* Adjust the padding as needed */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  gap: 20px;
}

.generate-questions-button-container {
  margin-top: 20px; /* Adjust the margin as needed */
}

/* style for select elements */
select {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #577f90;
}

.select-category {
  padding: 20px;
}

/* style for the button */
.trivia-button {
  padding: 10px 20px;
  background-color: #86c2ae;
  color: white;
  border: 0.01px solid #577f90;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.disabled {
  background-color: grey;
}

.disabled:hover {
  cursor: not-allowed;
  background-color: gray !important;
}

.trivia-button:hover {
  background-color: var(--accent-color);
  border: 0.01px solid #577f90;
}

/* Radio button styling */

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0 10px;

  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 2px solid currentColor;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: var(--secondary-color);
  outline: 1px solid var(--outline-color);
}

.answer {
  display: inline-block;
  margin: 0;
}

.countdown {
  font-size: 100px;
}

.game-countdown {
  font-size: 40px;
  margin: 0;
}

.last-chance {
  color: red;
}

.finish-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.answer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.instructions {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* styling the message notification */
.answer-notification-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.answer-notification {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 18px;
}

.answer-notification p {
  color: black;
}
